{{!-- <style>
    .workout {
        border: 1px solid #ccc;
        padding: 10px;
        margin: 10px;
        border-radius: 10px;
    }
    
</style>


<div class="workout">
    <h2>Chest</h2>
        <ul>
            <li>Bench Press: 4x10</li>
            <li>Dumbell Press: 4x10</li>    
        </ul>
    
    
</div> --}}