


<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gymder</title>
    <link rel="stylesheet" href="/css/style.css" />
      <script
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js'
      integrity='sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=='
      crossorigin='anonymous'
      referrerpolicy='no-referrer'
    ></script>
  </head>

  <body>
 
    <div class='slideshow'>
      <div id='slideshow'>
      </div>  
       
      <main>
        <nav>
       
      <a href="/">Gyms</a>
        <a href="/dashboard">Dashboard</a>
        <a href="#" id="logout-link">Logout</a>

        
    
    </nav>
    <br/>
    <br/>
    <br/>
        {{{body}}}
      </main>
    </div>

  </body>

</html>


{{! inline script to handle click of logout button }}
<script src='/js/main.js'></script>
