
<h2 style="margin-left:50rem;">My Posts</h2>
<div class="col-md-8">
{{#each posts }}
<form method="POST" action="api/post/delete/{{id}}">
    <button type="submit">DELETE</button>
</form>
{{>post this }}
{{/each}}
</div>