

<nav>
      <a href="/">Gyms</a>
      <a href="/dashboard">Dashboard</a>
      <a href="#" id="logout-link">Logout</a>

    </nav>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
<h1>Choose a Gym</h1>

{{#if username}}
<p>Hello, {{username}}</p>
{{/if}}

<div class="container">
    <div class = "row">
        <div class="card col-md-1" style="display:flex; gap: 40px;">
        {{#each gyms }}
        {{>gyms this}}
        {{/each }}
        </div>
    </div>
</div>