a {
  color: white;
}

header h1 a {
  color: #fff;
  text-shadow: 5px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

body {
  background-image: url('../images/gym1.jpg');
  background-color: #cccccc;
  text-shadow: 5px;
  color: white;
}
/* 

    body {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        line-height: 1.5;
        
    } */

nav {
  color: white;
}

.container {
  color: white;
}

#title {
  color: white;
}
